@import url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Galmuri", sans-serif;
  font-size: 16px;
}

.warp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Windows98_1.png"),
    url("./images/Windows98_2.png");
  background-position: left top, center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #008080;
}

.none {
  display: none;
}

button {
  font-size: 15px;
  border: 2px outset white;
  background-color: #c0c0c0;
  box-shadow: 1px 1px black;
}

img {
  width: 100%;
  vertical-align: top;
}

hr {
  width: 100%;
  margin-top: 10px;
}

main {
  width: 700px;
  height: fit-content;
  border: 3px outset white;
  margin-top: -10%;
  background-color: #c0c0c0;
  box-shadow: 1px 1px black;
}

/* 헤더 */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  color: white;
  vertical-align: center;
  background: linear-gradient(to right, #000181, #1084d0);
}

header button {
  width: 20px;
  display: flex;
}

/* 콘텐츠 내용 */
article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.content-area {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon {
  width: 60px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#chances-area {
  margin-top: 14px;
}

#user-input {
  width: 96%;
  margin-top: 4px;
  padding: 2%;
  border: 2px inset white;
}

.button-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* padding-bottom: 20px; */
}
.button-area button {
  width: 100px;
  padding: 2px 10px;
  cursor: pointer;
}

/* 모바일 장치: 작은 화면 */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header button {
    width: 17px;
  }

  main {
    width: 96%;
  }

  article {
    flex-direction: column;
  }

  .icon {
    width: 50px;
  }
  .button-area {
    flex-direction: row;
    justify-content: center;
  }

  button {
    font-size: 14px;
  }
}

/* 모바일 장치: 큰 화면 */
@media (min-width: 481px) and (max-width: 600px) {
  body {
    font-size: 15px;
  }

  header button {
    width: 16px;
  }

  main {
    width: 90%;
  }

  article {
    flex-direction: column;
  }

  .icon {
    width: 54px;
  }
  .button-area {
    flex-direction: row;
    justify-content: center;
  }

  button {
    font-size: 15px;
  }
}

/* 태블릿 장치: 포트레이트 모드 */
@media (min-width: 601px) and (max-width: 768px) {
  main {
    width: 80%;
  }
}

/* 태블릿 장치: 랜드스케이프 모드 */
@media (min-width: 769px) {
  .warp {
    background-image: url("./images/Windows98_1.png"),
      url("./images/Windows98_2.png");
    background-position: left top, center bottom;
    background-size: 70%, contain;
    background-repeat: no-repeat, no-repeat;
    background-color: #008080;
  }
}
